- # Map

- ***The map() function applies the specified function to each element in the iterable and returns a map object, which is an iterator. To obtain the results as a list or another iterable, you can pass the map object to the list() or tuple() constructor or use it directly in a loop.***

- ***function: This is the function that you want to apply to each item in the iterable. It can be a built-in function, a user-defined function, or a lambda function.***

- ***iterable: This is the iterable (e.g., a list, tuple, or string) containing the elements you want to process.***

In [1]:
l = [2,3,4,5,6,7]

In [2]:
def test(l):
    l1=[]
    for i in l :
        l1.append(i**2)
    return l1

In [3]:
test(l)

[4, 9, 16, 25, 36, 49]

BUT WE CAN WRITE SAME PROGRAM WITH THE HELP OF MAP FUNCTION

First we declare a function

map() :-map(func, *iterables) --> map object

In [4]:
l2 = [8,3,4,7,9]

In [5]:
def sq(x):
    return x**2

# THIS IS EXTERNAL FUNCTION DECLARE

In [6]:
map(sq(x),l)

NameError: name 'x' is not defined

In [ ]:
map(sq,l)

In [ ]:
list(map(sq,l))

In [7]:
list(map(sq,l2))

[64, 9, 16, 49, 81]

USE LAMBDA IN MAP FUNCTION

In [2]:
fruit = ["Apple" , "Banana" , "Grapes"]
list(map(lambda s :s[0] == "A", fruit))

[True, False, False]

In [8]:
list(map(lambda x : x**2 , l))

[4, 9, 16, 25, 36, 49]

In [9]:
list(map(lambda x : x**2 , l2))

[64, 9, 16, 49, 81]

LETS ADD TWO LIST WITH THE HELP OF MAP FUNCTION

In [10]:
l1= [1,2,3,4,5]
l2= [6,7,8,9,10]

In [11]:
list(map(lambda x,y : x+y , l1, l2))

[7, 9, 11, 13, 15]

***ADDITION OF TWO LIST WITH THE HELP EXTERNAL FUNTION***

In [12]:
def add(x,y):
    return x+y

In [13]:
list(map(add , l1 ,l2))

[7, 9, 11, 13, 15]

In [14]:
s = "siddhant"
list(map(lambda s : s.upper() , s ))

['S', 'I', 'D', 'D', 'H', 'A', 'N', 'T']





***REDUCE FUNCTION***

- ***You would use the reduce() function in Python when you need to perform a cumulative or rolling computation on elements of an iterable, resulting in a single aggregated value.***

- ***reduce() me 2 hi parameter (binary ) hi  de sakte ho not more than that***

In [15]:
from functools import reduce

***reduce() :-reduce(function, iterable[, initial]) -> value***

In [10]:
from functools import reduce

# Find the maximum element
numbers = [5, 2, 9, 1, 7]
max_value = reduce(lambda x, y: x if x > y else y, numbers)
# max_value will be 9 (the maximum element)

# Find the minimum element
min_value = reduce(lambda x, y: x if x < y else y, numbers)
# min_value will be 1 (the minimum element)
print(("max value is {}").format(max_value))
print(f"min value is {min_value}")

max value is 9
min value is 1

In [12]:
from functools import reduce

words = ["Hello", "world", "Python"]
sentence = reduce(lambda x, y: x + y, words)
# sentence will be "Hello world Python"
print(sentence)

HelloworldPython

In [13]:
from functools import reduce

words = ["Hello", "world", "Python"]
sentence = reduce(lambda x, y: x + " " + y, words)
# sentence will be "Hello world Python"
# " " this used for space
print(sentence)

Hello world Python

In [16]:
 l = [2, 3, 4, 5, 6, 7]

In [17]:
reduce(lambda x, y : x+y , l)

27

In [18]:
reduce(lambda x,y : x*y , l)

5040

In [19]:
reduce(lambda x,y : x/y , l)

0.0007936507936507937

In [20]:
reduce(lambda x,y : x-y , l)

-23

In [21]:
reduce(lambda x,y : x if x>y else y , l)

7

In [22]:
l = [2, 3, 4, 67,5, 6, 7]

In [23]:
reduce(lambda x,y : x if x>y else y , l)

67

In [24]:
l

[2, 3, 4, 67, 5, 6, 7]

**filter function:-filter(function or None, iterable) --> filter object**

In [27]:
list(filter(lambda x : x % 2 == 0 , l))
# THIS IS FOR even NUMBERS

[2, 4, 6]

In [28]:
list(filter(lambda x : x % 2 != 0 , l))
# THIS IS FOR ODD NUMBERS

[3, 67, 5, 7]

In [29]:
l2 = ["siddhant" , "singh" , "siddhu" , "ok" , "you" , "will" , " get "]

In [30]:
list(filter(lambda x : len(x) < 6 , l2))

['singh', 'ok', 'you', 'will', ' get ']